.App {
  text-align: center;
}

.App-header {
  background-color: #aaf;
  padding: 10px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

span.filter {
  border: solid 1px;
  padding: 2px;
}

div.filter_div {
  text-align: left;
  padding: 0 0 0 10px;
}

.filterSet {
  width: 50%;
}

ul {
  text-align: left;
  padding: 0 5px;
}

li {
  list-style: none;
}

div.duplicate {
/* display: none; */
  color: #11f;
}

div.modalContentWrap {
  background: #aee;
}
div.modalContent {
  background: #eee;
}
div.selectSpec {
  padding: 0 20px;
}
div.selectSpecHF {
  display: table-cell;
  padding: 10px 20px;
}
div.selectSpecLF {
  display: table-cell;
  padding: 10px 20px;
}
div.modalHeader {
  position: sticky;
  top: 0;
  z-index: 1;
  background: #cfc;
  text-align: center;
}

div.modalHeader button {
  border: solid 1px;
  float: left;
}

li span.datetime {
  text-color: #888;
  font-size: small;
}
li span.xmldata:hover {
  text-color: #f44;
}

div.modalContent.telegram-weather {
  background: #e8f4e8;
}
div.modalContent.telegram-warning {
  background: #f4f0e8;
}
div.modalContent.telegram-earthquake {
  background: #f4e8e8;
}
div.modalContent.telegram-volcano {
  background: #f4ece0;
}
div.modalContent.telegram-ocean {
  background: #e8ecf4;
}
div.modalContent.telegram-aviation {
  background: #eef4f4;
}
div.modalContent.telegram-other {
  background: #f0f0f0;
}
